<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="fragments.html :: headerfiles">
        <title>Profile</title>
    </head>
<body>
<header th:insert="adminView.html :: nav"></header>
<div align="center" th:fragment="profile">
    <h1>New/Edit Profile</h1>
    <form action="#" method="post" th:action="@{/adminView/save_profile}" th:object="${profile}">
        <table>
            <input th:field="*{id}" type="hidden"/>
            <tr>
                <td>First Name:</td>
                <td><input class="form-control" th:field="*{firstName}" type="text"></input></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input class="form-control" th:field="*{lastName}" type="text"></input></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input class="form-control" th:field="*{address}" type="text"></input></td>
            </tr>
            <tr>
                <td>Occupation:</td>
                <td><input class="form-control" th:field="*{occupation}" type="text"></input></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><select class="form-control" th:field="*{gender}">
                    <option th:each="genderItem : ${T(com.spring.boot.OnlineLibrarySpringBoot.model.types.GenderType).values()}"
                            th:text="${genderItem}" th:value="${genderItem}">
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td><input class="form-control" placeholder="yyyy-MM-dd" th:field="*{dateOfBirth}" type="date"></input>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-danger" type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>