<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>User(Librarian) View</title>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <span th:text="${'Authenticated username: ' + #request.userPrincipal.principal.username}"></span>
            </div>
            <div class="navbar-header page-scroll">
                <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span> Menu <i
                        class="fa fa-bars"></i>
                </button>
                <!--<a class="nav-link" th:href="@{/itemView}">Online Library Management</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"></li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/userView}"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/userView/list_items}">List Items</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/userView/add_item}">Add Item</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/userView/export_items}">Export Items</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>