<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="fragments.html :: headerfiles">
        <title>Add Customer</title>
    </head>
<body>
<header th:insert="itemView.html :: nav"></header>

<div align="center">
    <h1>Edit/Add Customer</h1>
    <form action="#" method="post" th:action="@{/customerView/save_customer}" th:object="${customer}">
        <table>
            <input th:field="*{id}" type="hidden"/>

            <tr>
                <td>Date created:</td>
                <td><input class="form-control" placeholder="yyyy-MM-dd" th:field="*{dateCreated}" type="date"></input>
                </td>
            </tr>

            <tr>
                <td>CNP:</td>
                <td><input class="form-control" th:field="*{cnp}" type="text"></input></td>
            </tr>

            <tr>
                <td>First Name:</td>
                <td><input class="form-control" th:field="*{firstName}" type="text"></input></td>
            </tr>

            <tr>
                <td>Last Name:</td>
                <td><input class="form-control" th:field="*{lastName}" type="text"></input></td>
            </tr>

            <tr>
                <td>Address:</td>
                <td><input class="form-control" th:field="*{address}" type="text"></input></td>
            </tr>

            <tr>
                <td>Occupation:</td>
                <td><input class="form-control" th:field="*{occupation}" type="text"></input></td>
            </tr>

            <tr>
                <td>Gender:</td>
                <td><select class="form-control" th:field="*{gender}">
                    <option th:each="genderCustomer : ${T(com.spring.boot.OnlineLibrarySpringBoot.model.types.GenderType).values()}"
                            th:text="${genderCustomer}" th:value="${genderCustomer}">
                    </option>
                </select>
                </td>
            </tr>

            <tr>
                <td>Date of Birth:</td>
                <td><input class="form-control" placeholder="yyyy-MM-dd" th:field="*{dateOfBirth}" type="date"></input>
                </td>
            </tr>

            <td>
                <button class="btn btn-danger" name="action" type="submit" value="save">Save</button>
                <button class="btn btn-danger" name="action" type="submit" value="cancel">Cancel</button>
            </td>
        </table>
    </form>
</div>
</body>
</html>