<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
          xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-1.9.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Add Item Rank</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span> Menu <i
                    class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">Simple Library Automation</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"></li>
                <li><a href="/itemView/list_items">List Item Rank</a></li>
                <li><a href="/itemView/add_item_rank">Add Item Rank</a></li>
            </ul>
        </div>
    </div>
</nav>

<div align="center">
    <h1>New/Edit Item</h1>
    <form action="#" method="post" th:action="@{/itemView/save_item_rank}" th:object="${itemRank}">
        <table>
            <input th:field="*{id}" type="hidden"/>

            <tr>
                <td>Name:</td>
                <td><input class="form-control" th:field="*{name}" type="text"></input></td>
            </tr>

            <tr>
                <button class="btn btn-danger" name="action" type="submit" value="save">Save</button>
                <button class="btn btn-danger" name="action" type="submit" value="cancel">Cancel</button>
            </tr>
        </table>
    </form>
</div>

</body>
</html>