<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:insert="fragments.html :: headerfiles">
		<title>Add User</title>
</head>
<body>
<header th:insert="adminView.html :: nav"></header>

<div align="center">
	<h1>Edit/Add User</h1>
	<form action="#" method="post" th:action="@{/adminView/save_user}" th:object="${user}">
		<table>
			<input th:field="*{id}" type="hidden"/>
			<tr>
				<td>User Name:</td>
				<td><input class="form-control" th:field="*{username}" type="text"></input></td>
			</tr>

			<tr>
				<td>User Password:</td>
				<td><input class="form-control" th:field="*{password}" type="text"></input></td>
			</tr>

			<tr>
				<td>Email:</td>
				<td><input class="form-control" th:field="*{email}" type="email"></input></td>
			</tr>

            <tr>
				<td>Date created:</td>
                <td><input class="form-control" placeholder="yyyy-MM-dd" th:field="*{dateCreated}" type="date"></input>
                </td>
			</tr>

            <tr>
				<td>Authority:</td>
				<td><select class="form-control" th:field="*{authorities}" th:id="*{authorities}"
							th:name="*{authorities}">
					<option th:each="authority: ${allAuthorities}"
							th:selected="${authority.id} == ${authorityId}"
							th:text="${authority.name}"
							th:value="${authority.id}">
					</option>
					</select>
				</td>
			</tr>

            <input th:field="*{profile.id}" type="hidden"/>
			<tr>
				<td>First Name:</td>
				<td><input class="form-control" th:field="*{profile.firstName}" type="text"></input></td>
			</tr>

            <tr>
				<td>Last Name:</td>
				<td><input class="form-control" th:field="*{profile.lastName}" type="text"></input></td>
			</tr>

            <tr>
				<td>Address:</td>
				<td><input class="form-control" th:field="*{profile.address}" type="text"></input></td>
			</tr>

            <tr>
				<td>Occupation:</td>
				<td><input class="form-control" th:field="*{profile.occupation}" type="text"></input></td>
			</tr>

            <tr>
				<td>Gender:</td>
				<td><select class="form-control" th:field="*{profile.gender}">
					<option th:each="genderItem : ${T(com.spring.boot.OnlineLibrarySpringBoot.model.types.GenderType).values()}"
							th:text="${genderItem}" th:value="${genderItem}">
					</option>
				</select>
				</td>
			</tr>

            <tr>
				<td>Date of Birth:</td>
                <td><input class="form-control" placeholder="yyyy-MM-dd" th:field="*{profile.dateOfBirth}"
                           type="date"></input></td>
			</tr>

			<td>
                <button class="btn btn-danger" name="action" type="submit" value="save">Save</button>
                <button class="btn btn-danger" name="action" type="submit" value="cancel">Cancel</button>
			</td>
		</table>
	</form>
</div>
</body>
</html>