<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Administrator View</title>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <span th:text="${' Authenticated username: ' + #request.userPrincipal.principal.username}"></span>
                <!--<span th:text="${'Authenticated password: ' + #request.userPrincipal.principal.password}"></span>-->
            </div>
            <div class="navbar-header page-scroll">
                <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span> Menu <i
                        class="fa fa-bars"></i>
                </button>
                <!--<a class="nav-link" th:href="@{/userView}">Online Library Management</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"></li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="#" th:href="@{~/adminView}"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="#" th:href="@{~/adminView/list_users}">List Users</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="#" th:href="@{~/adminView/add_user}">Add User</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="#" th:href="@{~/adminView/export_users}">Export Users</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <form method="post" th:action="@{/adminView/search_user}" th:object="${userSearch}">
                            <div>
                                <input name="userSearch" th:value="${userSearch}" type="text">
                                <input type="submit" value="Search Users by username">
                            </div>
                        </form>
                        <!--<a class="nav-link" href="#" th:text="userSearch">Search User</a>-->
                    </li>
                </ul>
            </div>

            <div>
                <a th:href="@{'/logout'}"> Logout </a>
            </div>
            <div>
                <a th:href="@{'/adminView/change_password'}"> Change Password </a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>