<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="fragments.html :: headerfiles">
        <title>List Customers</title>
    </head>
<body>
<header th:insert="itemView.html :: nav"></header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div>
                    <div align="center">
                        <legend>Customer List
                            <span th:if="${customerSearch} != null"
                                  th:text="${' >>>> search by Customer Name =  ' + customerSearch}"></span>
                            <span th:if="${customerSearch} != null"
                                  th:text="${' >>>> search by Customer Name =  ' + customerSearch}"></span>
                        </legend>
                    </div>

                    <!--<div>-->
                    <!--<form th:action="@{/customerView/sort_users}" method='post' style='width:300px'>Sort the users by criteria<br>-->
                    <!--<input type="checkbox" name="comparator" value="userCompByRole" > By role<br>-->
                    <!--<input type="checkbox" name="comparator" value="userCompByUsername" > By username<br>-->
                    <!--<input type="checkbox" name="comparator" value="userCompByEmail" > By email<br>-->
                    <!--<input type="checkbox" name="comparator" value="userCompByDateCreated" > By account date created<br>-->
                    <!--<button type="submit" class="btn btn-primary">View Library Users</button>-->
                    <!--<button type="reset" class='btn btn-primary'>Reset the sort</button>-->
                    <!--</form>-->
                    <!--</div>-->

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="myUsers"
                               dt:table="true">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Date Created</th>
                                <th>CNP</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Address</th>
                                <th>Occupation</th>
                                <th>Gender</th>
                                <th>Date Of Birth</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customer : ${listCustomers}">
                                <td th:text="${customer?.id}"></td>
                                <td th:text="${customer?.dateCreated}"></td>
                                <td th:text="${customer?.cnp}"></td>
                                <td th:text="${customer?.firstName}"></td>
                                <td th:text="${customer?.lastName}"></td>
                                <td th:text="${customer?.address}"></td>
                                <td th:text="${customer?.occupation}"></td>
                                <td th:text="${customer?.gender}"></td>
                                <td th:text="${customer?.dateOfBirth}"></td>
                                <td>
                                    <a class="btn btn-info"
                                       th:href="@{/customerView/update_customer/?id={id}(id=${customer.id})}">Update
                                        Customer</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>