<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<!-- Fragment #1 : Header files contains css and js references -->
<head th:fragment="headerfiles">
    <title>Online Library Management</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
          xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-1.9.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<!-- Fragment #2 : Navbar contains nav links -->
<div th:fragment="nav">
    <input id="current_user_id" type="text" value="${ currentUserId }">
    <input id="current_username" type="text" value="${ currentUser }">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/index}"><i class="fa fa-home"></i>Home</a>
                </li>
                <!--<li class="nav-item" sec:authorize="isAuthenticated()">-->
                <!--<a class="nav-link" href="#" th:href="@{~/index}">Index</a>-->
                <!--</li>-->
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="#" th:href="@{~/adminView/list_users}">List Users</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link" href="#" th:href="@{~/itemView/list_items}">List Items</a>
                </li>
                <!--<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item">-->
                <!--<a class="nav-link" href="#" th:href="@{~/management/index}">Management</a>-->
                <!--</li>-->
            </ul>
            <!--<form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">-->
            <!--<button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>-->
            <!--<button sec:authorize="isAnonymous()" th:href="@{~/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login</button>-->
            <!--</form>-->
        </div>
    </nav>
</div>
</body>
</html>