<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
          xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-1.9.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Issue Item</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span> Menu <i
                    class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">Simple Library Automation</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
    </div>
</nav>

<div align="center">
    <h1>Issue Item</h1>
    <form action="#" method="post" th:action="@{/itemView/issue_item}" th:object="${item}">
        <table>
            <input th:field="*{id}" type="hidden"/>

            <tr>
                <td>Title:</td>
                <td><input class="form-control" th:field="*{title}" type="text"></input></td>
            </tr>

            <tr>
                <td>Authors:</td>
                <!--<td>-->
                <!--&lt;!&ndash;<span th:field="*{authors}">&ndash;&gt;-->
                <!--<td th:each="1:3"-->
                <!--type="text" class="form-control" th:field="*{author.name}"></input>-->
                <!--</td>-->
                <!--</td>-->
            </tr>

            <tr>
                <td>Item Type:</td>
                <td><select class="form-control" th:field="*{itemType}">
                    <option th:each="itemType : ${T(com.spring.boot.OnlineLibrarySpringBoot.model.types.ItemType).values()}"
                            th:text="${itemType}" th:value="${itemType}">
                    </option>
                </select>
                </td>
            </tr>

            <!--<tr>-->
            <!--<td>Item Status:</td>-->
            <!--<td><select class="form-control" th:field="*{itemStatus}">-->
            <!--<option th:each="itemStatus : ${T(com.spring.boot.OnlineLibrarySpringBoot.model.types.ItemStatus).values()}"-->
            <!--th:value="${itemStatus}" th:text="${itemStatus}">-->
            <!--</option>-->
            <!--</select>-->
            <!--</td>-->
            <!--</tr>-->

            <tr>
                <td>Rank:</td>
                <td><select class="form-control" th:field="*{itemRank}" th:id="*{itemRank}"
                            th:name="*{itemRank}">
                    <option th:each="itemRank: ${allItemRank}"
                            th:selected="${itemRank.id} == ${itemRank.id}"
                            th:text="${itemRank.name}"
                            th:value="${itemRank.id}">
                    </option>
                </select>
                </td>
            </tr>

            <tr>
                <td>Publisher:</td>
                <td><input class="form-control" th:field="*{itemProfile.publisher}" type="text"></input></td>
            </tr>

            <tr>
                <td>Registered year:</td>
                <td><input class="form-control" placeholder="yyyy-MM-dd" th:field="*{itemProfile.registeredYear}"
                           type="date"></input></td>
            </tr>

            <tr>
                <td>Published year:</td>
                <td><input class="form-control" placeholder="yyyy-MM-dd" th:field="*{itemProfile.publishedYear}"
                           type="date"></input></td>
            </tr>

            <tr>
                <button class="btn btn-danger" name="action" type="submit" value="save">Save</button>
                <button class="btn btn-danger" name="action" type="submit" value="cancel">Cancel</button>
            </tr>
        </table>
    </form>
</div>

</body>
</html>