<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="fragments.html :: headerfiles">
        <title>List Item Rank</title>
    </head>
<body>
<header th:insert="itemView.html :: nav"></header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div>
                    <div align="center">
                        <legend>Items List
                        </legend>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" dt:table="true"
                               id="myUsers">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Rank name</th>
                                <th>Functionality</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${listItemRank}">
                                <td th:text="${item?.id}"></td>
                                <td th:text="${item?.name}"></td>
                                <td>
                                    <a class="btn btn-info"
                                       th:href="@{/itemView/update_item_rank/?id={id}(id=${item.id})}">Edit Item
                                        Rank</a>
                                    <a class="btn btn-info"
                                       th:href="@{/itemView/delete_item_rank/?id={id}(id=${item.id})}">Delete Item
                                        Rank</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
