<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Librarian View</title>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <span th:text="${'Authenticated username: ' + #request.userPrincipal.principal.username}"></span>

                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link" href="#" th:href="@{~/itemView}"><i class="fa fa-home"></i>Home</a>
                </li>

                <li>
                    <a th:href="@{'/logout'}"> Logout </a>
                </li>

                <!--<span th:text="${'Authenticated password: ' + #request.userPrincipal.principal.password}"></span>-->
            </div>

            <div class="navbar-header page-scroll">
                <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span> Menu <i
                        class="fa fa-bars"></i>
                </button>
                <!--<a class="nav-link" th:href="@{/itemView}">Online Library Management</a>-->

            </div>

            <!-- Customer View -- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"></li>
                    <!--<li class="nav-item" sec:authorize="hasRole('ROLE_USER')">-->
                    <!--<a class="nav-link" href="#" th:href="@{~/itemView}"><i class="fa fa-home"></i>Home</a>-->
                    <!--</li>-->

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/customerView/list_customers}">List Customers</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/customerView/add_customer}">Add Customer</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/customerView/export_customers}">Export Customers</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <form method="post" th:action="@{/customerView/search_customer}"
                              th:object="${customerSearchByCnp}">
                            <div>
                                <input name="customerSearchByCnp" th:value="${customerSearchByCnp}" type="text">
                                <input type="submit" value="Search Customer by CNP">
                            </div>
                        </form>
                    </li>

                    <!--<li class="nav-item" sec:authorize="hasRole('ROLE_USER')">-->
                    <!--<form th:object="${customerSearch}" method="post" th:action="@{/itemView/search_customer_by_firstName_lastName}">-->
                    <!--<div>-->
                    <!--<input type="text" name="customerSearch" th:value="${customerSearchByFirstNameLastName}">-->
                    <!--<input type="submit" value="Search Customer by (first name or last name)">-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</li>-->

                </ul>
            </div>

            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"></li>

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/itemView/list_item_rank}">List Item Rank</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/itemView/add_item_rank}">Add Item Rank</a>
                    </li>
                </ul>
            </div>

            <!-- Item View -- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-3">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"></li>
                    <!--<li class="nav-item" sec:authorize="hasRole('ROLE_USER')">-->
                    <!--<a class="nav-link" href="#" th:href="@{~/itemView}"><i class="fa fa-home"></i>Home</a>-->
                    <!--</li>-->

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/itemView/list_items}">List Items</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/itemView/register_item}">Register Item</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/itemView/view_issued_item}">View Issued Item</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/itemView/issue_item}">Issue Item</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/itemView/return_item}">Return Item</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="#" th:href="@{~/itemView/export_items}">Export Items</a>
                    </li>

                    <ul>
                        <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                            <form method="post" th:action="@{/itemView/search_item_by_title}"
                                  th:object="${itemSearchByTitle}">
                                <div>
                                    <input name="itemSearchByTitle" th:value="${itemSearchByTitle}" type="text">
                                    <input type="submit" value="Search Items by title">
                                </div>
                            </form>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                            <form method="post" th:action="@{/itemView/search_item_by_author}"
                                  th:object="${itemSearchByAuthor}">
                                <div>
                                    <input name="itemSearchByAuthor" th:value="${itemSearchByAuthor}" type="text">
                                    <input type="submit" value="Search Items by author">
                                </div>
                            </form>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                            <form method="post" th:action="@{/itemView/search_item_before_registered_year}"
                                  th:object="${itemSearchBeforeRegisteredYear}">
                                <div>
                                    <input name="itemSearchBeforeRegisteredYear" placeholder="yyyy-MM-dd"
                                           th:value="${itemSearchBeforeRegisteredYear}" type="date">
                                    <input type="submit" value="Search Items before registered year">
                                </div>
                            </form>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                            <form method="post" th:action="@{/itemView/search_item_by_type}"
                                  th:field="${itemSearchByType}" th:id="${itemSearchByType}"
                                  th:name="${itemSearchByType}">
                                <!--<form method="post" th:action="@{/itemView/search_item_by_type}">-->
                                <div>
                                    <!--<input name="itemSearchByType" th:value="${itemSearchByType}" type="text">-->
                                    <!--<select class="form-control" th:field="${itemSearchByType}">-->
                                    <select class="form-control">
                                        <option th:each="itemSearchByType : ${T(com.spring.boot.OnlineLibrarySpringBoot.model.types.ItemType).values()}"
                                                th:name="itemSearchByType" th:text="${itemSearchByType}"
                                                th:value="${itemSearchByType}" type="text">
                                        </option>
                                    </select>
                                    <input type="submit" value="Search Items by type">
                                </div>
                            </form>
                        </li>
                    </ul>
                </ul>
            </div>

            <!--<div>-->
            <!--<a th:href="@{'/userView/change_password'}"> Change Password </a>-->
            <!--</div>-->
        </div>
    </nav>
</div>
</body>
</html>