<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="fragments.html :: headerfiles">
        <title>List Items</title>
    </head>
<body>
<header th:insert="itemView.html :: nav"></header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div>
                    <div align="center">
                        <legend>Items List
                            <span th:if="${itemSearch} != null"
                                  th:text="${' >>>> search items by title =  ' + itemSearchByTitle}"></span>
                        </legend>
                    </div>

                    <div>
                        <form method='post' style='width:300px' th:action="@{/itemView/sort_items}">Sort the items by
                            criteria<br>
                            <input name="comparator" type="checkbox" value="itemCompByTitle"> By title<br>
                            <button class="btn btn-primary" type="submit">View Library Items</button>
                            <button class='btn btn-primary' type="reset">Reset the sort</button>
                        </form>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="myUsers"
                               dt:table="true">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Authors</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Rank</th>
                                <th>Publisher</th>
                                <th>Registered year</th>
                                <th>Published year</th>
                                <th>Functionality</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${listItems}">
                                <td th:text="${item?.id}"></td>
                                <td th:text="${item?.title}"></td>
                                <td th:text="${item?.authors}"></td>
                                <td th:text="${item?.itemType}"></td>
                                <td th:text="${item?.itemStatus}"></td>
                                <td th:text="${item?.itemRank.name}"></td>
                                <td th:text="${item?.itemProfile.publisher}"></td>
                                <td th:text="${item?.itemProfile.registeredYear}"></td>
                                <td th:text="${item?.itemProfile.publishedYear}"></td>
                                <td>
                                    <a class="btn btn-info"
                                       th:href="@{/itemView/update_item/?id={id}(id=${item.id})}">Edit Item</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
