<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables" />

<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.9.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<title>Add Item</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i
						class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#">Simple Library Automation</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"></li>
                    <li><a href="/itemView/list_items">List Items</a></li>
                    <li><a href="/itemView/add_item">Add Item</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div align="center">
		<h1>New/Edit Item</h1>
        <form action="#" method="post" th:action="@{/itemView/save_item}" th:object="${item}">
			<table>
			 	<input type="hidden" th:field="*{id}"/>

				<tr>
					<td>Title:</td>
					<td><input class="form-control" th:field="*{title}" type="text"></input></td>
				</tr>

				<tr>
					<td>Authors:</td>

					<td>
				<tr th:each="author, authorStat : *{authors}">
					<td><input th:field="*{authors[__${authorStat.index}__].name}"/></td>
					<!--<td><input th:field="*{books[__${authorStat.index}__].author}" /></td>-->
				</tr>
				</td>

				<!--<td>-->
				<!--<table th:each="author : *{authors}">-->
				<!--<tr>-->
				<!--<input class="form-control" th:field="${author.name}" type="text" ></input>-->
				<!--</tr>-->
				<!--</table>-->
					<!--</td>-->
				</tr>

				<tr>
					<td>Item Type:</td>
					<td><select class="form-control" th:field="*{itemType}">
                        <option th:each="itemType : ${T(com.spring.boot.OnlineLibrarySpringBoot.model.types.ItemType).values()}"
                                th:value="${itemType}" th:text="${itemType}">
						</option>
					</select>
					</td>
				</tr>

                <!--<tr>-->
                <!--<td>Item Status:</td>-->
                <!--<td><select class="form-control" th:field="*{itemStatus}">-->
                <!--<option th:each="itemStatus : ${T(com.spring.boot.OnlineLibrarySpringBoot.model.types.ItemStatus).values()}"-->
                <!--th:value="${itemStatus}" th:text="${itemStatus}">-->
                <!--</option>-->
                <!--</select>-->
                <!--</td>-->
                <!--</tr>-->

				<tr>
                    <td>Rank:</td>
                    <td><select class="form-control" th:field="*{itemRank}" th:id="*{itemRank}"
                                th:name="*{itemRank}">
                        <option th:each="itemRank: ${allItemRank}"
                                th:selected="${itemRank.id} == ${itemRank.id}"
                                th:text="${itemRank.name}"
                                th:value="${itemRank.id}">
						</option>
					</select>
					</td>
				</tr>

				<tr>
                    <td>Publisher:</td>
                    <td><input class="form-control" th:field="*{itemProfile.publisher}" type="text"></input></td>
                </tr>

                <tr>
                    <td>Registered year:</td>
					<td><input class="form-control" placeholder="yyyy-MM-dd" th:field="*{itemProfile.registeredYear}"
							   type="date"></input></td>
                </tr>

                <tr>
                    <td>Published year:</td>
					<td><input class="form-control" placeholder="yyyy-MM-dd" th:field="*{itemProfile.publishedYear}"
							   type="date"></input></td>
                </tr>

                <tr>
                    <button class="btn btn-danger" name="action" type="submit" value="save">Save</button>
                    <button class="btn btn-danger" name="action" type="submit" value="cancel">Cancel</button>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>