<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="fragments.html :: headerfiles">
    <title>List Users</title>
</head>
<body>
<header th:insert="adminView.html :: nav"></header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div>
                    <div align="center">
                        <legend>Users List
                            <span th:if="${userSearch} != null"
                                  th:text="${' >>>> search by userName =  ' + userSearch}"></span>
                            <br>
                            <span th:if="${atLeastOneAdmin} == true"
                                  th:text="At least one admin shall be in database"></span>
                        </legend>
                    </div>

                    <div>
                        <form method='post' style='width:300px' th:action="@{/adminView/sort_users}">Sort the users by
                            criteria<br>
                            <input name="comparator" type="checkbox" value="userCompByRole"> By role<br>
                            <input name="comparator" type="checkbox" value="userCompByUsername"> By username<br>
                            <input name="comparator" type="checkbox" value="userCompByEmail"> By email<br>
                            <input name="comparator" type="checkbox" value="userCompByDateCreated"> By account date
                            created<br>
                            <button class="btn btn-primary" type="submit">View Library Users</button>
                            <button class='btn btn-primary' type="reset">Reset the sort</button>
                        </form>
                    </div>

                    <div class="table-responsive">
                        <table id="myUsers" class="table table-striped table-bordered"
                               dt:table="true">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Date created</th>
                                <th>Profile</th>
                                <th>Authorities</th>
                                <th>Functionality</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${listUsers}">
                                <td th:text="${user?.id}"></td>
                                <td th:text="${user?.username}"></td>
                                <td th:text="${user?.email}"></td>
                                <td th:text="${user?.dateCreated}"></td>
                                <td th:text="${user?.profile}"></td>
                                <td th:text="${user?.authorities}"></td>
                                <td>
                                    <a class="btn btn-info"
                                       th:href="@{/adminView/update_user/?id={id}(id=${user.id})}">Edit User</a>
                                    <!--<a class="btn btn-info"-->
                                    <!--th:href="@{/adminView/update_profile/?id={id}(id=${user.profile.id})}">Edit-->
                                    <!--Profile</a>-->
                                    <!-- INFO: logged in (authenticated) user shall not be deleted from database -->
                                    <a class="btn btn-danger"
                                       th:if="${#request.userPrincipal.principal.username != user?.username}"
                                       th:href="@{/adminView/delete_user/?id={id}(id=${user.id})}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
